section.form-section {
  margin-top: 3rem;
}

form.form {
  display: flex;
  flex-direction: column;
}

textarea.content {
  display: block;
  background-color: var(--color-dark-blue);
  
  font-family: inherit;
  color: inherit;
  font-size: inherit;

  height: 150px;
  margin-bottom: 2rem;
  padding: 2rem 0 0 1rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 3px;
  resize: none;
}

.form .btn {
  align-self: flex-end;
}