.post-section {
  margin-top: 4rem;
}

.post-item {
  margin: 2rem 0;
  padding: 1rem;
  background-color: var(--color-medium-blue)
}

.post-footer {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.post-info span:not(:last-child) {
  margin-right: 1rem;
  text-decoration: underline;
}

.post-edit-delete span {
  text-decoration: underline;
  cursor: pointer;
}

.post-edit-delete span:not(:last-child) {
  margin-right: 1rem;
}

.post-edit-delete span.delete-question {
  color: var(--color-light-red);
}

form.form-edit {
  margin-top: 2rem;
}

form.form-edit textarea.content {
  background-color: var(--color-light-blue);
  color: black;
}

form.form-edit textarea.content::placeholder {
  color: inherit;
}

form.form-edit .btn-container {
  align-self: flex-end;
}
